.footer {
  padding: 1rem 0;
  margin-top: auto;
  background: var(--background-primary);
  border-top: 1px solid rgb(255 255 255 / 0.1);
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
  text-align: center;
}

.footer-copyright {
  font-size: 0.9rem;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.footer-links span {
  font-size: 0.9rem;
  color: var(--text-secondary);
  cursor: pointer;
}

.footer-links span:hover {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-contacts div {
  font-size: 0.9rem;
  color: var(--text-secondary);
}
