.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem 0;
  background: rgb(10 10 10 / 95%);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgb(255 255 255 / 10%);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  text-decoration: none;
}

.logo-icon {
  width: 45px;
  height: auto;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navigation {
  display: flex;
  gap: 2rem;
}

.nav-link {
  position: relative;
  padding: 0.5rem;
  font-weight: 600;
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--text-primary);
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-link.active {
  color: var(--text-primary);
}

.nav-link.active::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: var(--gradient);
}


.user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.user-avatar:hover {
  transform: scale(1.05);
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0.8rem;
  margin-top: 0.5rem;
  background: var(--background-secondary);
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 8px;
  padding: 0.5rem 0;
  box-shadow: 0 8px 32px rgb(0 0 0 / 30%);
  backdrop-filter: blur(20px);
  z-index: 1001;
}

.dropdown-user-info {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  cursor: default;
}

.dropdown-user-info span {
  font-size: 1rem;
  color: var(--text-secondary);
    display: flex;
  flex-direction: column;
  gap: 0.25rem;
}


.dropdown-item {
  display: block;
  padding: 0.75rem 1rem;
  color: var(--text-secondary);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  display: inline-block;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

